.heading{
    width: 100%;
    text-align: left;

}

.heading button{
    float: right;
    border: 1px solid white;
}

.heading h3{
    display: inline;
}

.big_image{
    width: 100%;
}

#start ,#status{
    font-size: 22px;
}

h4{
    background-color: azure;
    line-height: 2;
    margin: 0;
}

.modal-dialog{
    width: 90%;
}

.image_instructions{
    display: inline-block;
    width: 45%;
}

video{
    background:url("game_console.png");
    background-size:cover;
    background-position: center;
    padding: 29px;
}